---
interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/og_image.jpg" } = Astro.props;
const canonicalURL = new URL(Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.min.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="robots" content="index, follow" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>
  <body
    class="mx-4 flex flex-col items-center justify-center bg-gradient-to-br from-black via-[#0d1117] to-zinc-800 md:mx-auto">
    <slot />
    <footer class="max-w-2xl">
      <p class="flex w-full justify-between text-base">
        <span class=""></span>
        <span class="inline-flex">
          i'm copying design
          <a
            href="https://leerob.io"
            target="_blank"
            class="ml-1 inline-flex text-sky-500">
            <img width="14" height="14" src="/vercel.svg" alt="vercel svg" />
            leerob
          </a>
        </span>
        <span
          class="inline-flex items-end text-xs text-zinc-100 text-opacity-10">
          ...kinda
        </span>
      </p>
    </footer>
  </body>
</html>
